<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{YYYY-MM-dd HH:mm:ss} %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>
  <logger name="fr.dudie.jena.example" level="info" />
  <root level="warn">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>